<main style="background: rgb(43, 43, 43)">
    <div class="row imagens">
        <div class="column coluna-imagens">
            <% for (let i = 0; i < artes.length; i++) { %>
                <% if(i%2 == 0) {%>
                    <div class="container-desenho">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img src="/images/artes/<%= artes[i].idArte %>.jpg" id="<%=artes[i].idArte %>" class="desenho" alt="<%= artes[i].descArte %>"/>
                            <div class="content-details fadeIn-right">
                                <h3><%= artes[i].titleArte %></h3>
                                <p style="width: 400px; display: inline-block;"><%= artes[i].descArte %></p>
                                <p style="font-size: 10px;"><%= artes[i].dateArte %></p>
                            </div>
                        </div>
                    </div>
                <% } %>   
            <% } %> 
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/macaco.jpg"class="desenho"/>
                    <div class="content-details fadeIn-right">
                        <h3>Day Dreamer</h3>
                        <p style="width: 400px; display: inline-block; text-align: justify;">70cm x 170cm - Nesta ilustração, o macaco dourado que aparenta estar
                            sonhando acordado representa a natureza em toda a sua presença enigmática e
                            admirável. O dourado de seus pelos, os azuis vívidos de seu rosto e o rosa
                            agudo do manto que o envolve são todos um tributo às magníficas cores do
                            planeta Terra. No fundo, o refrescante rastro aquamarino cumpre a função de 
                            contrastar e complementar os demais tons da pintura.  
                        </p>
                        <p style="font-size: 10px;">21/08/2020</p>
                    </div>
                </div>
                
            </div>

            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/bailarino_astronauta.jpg"class="desenho"/>
                    <div class="content-details fadeIn-right">
                        <h3>O Astronauta</h3>
                        <p style="width: 400px; display: inline-block; text-align: justify;">120cm x 190cm - O Astronauta
                            materializa a realização dos sonhos humanos. Todos os temos, mas nem sempre os 
                            alcançamos. Assim, pouco importando a viabilidade de tais sonhos,
                            a ilustração busca juntar estes aspectos num humano (sem rosto, pois pode
                            ser qualquer um) que os realizou: dos mais mundanos aos mais extraordinários; 
                            de bailarino a astronauta.
                        </p>
                        <p style="font-size: 10px;">29/07/2020</p>
                    </div>
                </div>
            </div>
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/aguia.jpg"class="desenho"/>
                    <div class="content-details fadeIn-left">
                        <h3>O Voo</h3>
                        <p style="width: 400px; display: inline-block; text-align: justify;">
                            20cm x 35cm - O desenho feito em nanquim brinca com o surrealismo e com a ideia
                            da evolução do voo no planeta Terra, da pena ao metal. 
                        </p>
                        <p style="font-size: 10px;">06/01/2020</p>
                    </div>
                </div>
            </div>
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/iguana.jpg"class="desenho"/>
                    <div class="content-details fadeIn-left">
                        <h3>Scales</h3>
                        <p style="width: 400px; display: inline-block;">
                            20cm x 35cm
                        </p>
                        <p style="font-size: 10px;">15/01/2020</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="column coluna-imagens">
            <% for (let i = 0; i < artes.length; i++) { %>
                <% if(i%2 == 1) {%>
                    <div class="container-desenho">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img src="/images/artes/<%= artes[i].idArte %>.jpg" id="<%=artes[i].idArte %>" class="desenho" alt="<%= artes[i].descArte %>"/>
                            <div class="content-details fadeIn-left">
                                <h3><%= artes[i].titleArte %></h3>
                                <p style="width: 400px; display: inline-block;"><%= artes[i].descArte %></p>
                                <p style="font-size: 10px;"><%= artes[i].dateArte %></p>
                            </div>
                        </div>
                    </div>
                <% } %>   
            <% } %> 
            
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/mao.jpg"class="desenho"/>
                    <div class="content-details fadeIn-left">
                        <h3>Sapiens</h3>
                        <p style="width: 400px; display: inline-block; text-align: justify;">101cm x 127cm - A mão humana carrega
                            história. Ela fez conquistas, ela faz ciência. Sapiens traz, em primeiro plano, 
                            a mão como o centro da história humana e de todos os produtos de seu labor.
                            No fundo, alguns exemplos são representados: a conquista da Lua, o entendimento 
                            da genética e algumas das concepções físicas e químicas que entendemos do universo.
                        </p>
                        <p style="font-size: 10px;">16/09/2020</p>
                    </div>
                </div>
            </div>

            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/chernobyl.jpg"class="desenho"/>
                    <div class="content-details fadeIn-left">
                        <h3>Chernobyl</h3>
                        <p style="width: 400px; display: inline-block; text-align: justify;">
                            101cm x 127cm - Esta ilustração foi inspirada por Chernobyl e por todos 
                            os eventos que lá aconteceram há 34 anos. Todas as fórmulas ao fundo possuem
                            significado no contexto do desenho. Diagrama de fissão nuclear; equações químicas
                            da fissão de urânio e de califórnio e da emissão das radiaçõess alfa, beta e gama; cálculo da
                            energia de liberação de um átomo de urânio e outras fórmulas representadas fazem
                            todas parte da história da radiação e dos acontecimentos em Chernobyl. A usina que 
                            explodiu também é representada à frente (em espaço negativo).

                        </p>
                        <p style="font-size: 10px;">07/08/2020</p>
                    </div>
                </div>
            </div>
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/mr_scott.jpg"class="desenho"/>
                    <div class="content-details fadeIn-left">
                        <h3>Mr. Scott</h3>
                        <p style="width: 400px; display: inline-block; text-align: justify;">
                            101cm x 127cm - Ilustração digital de Mr. Scott, um rei, pirata e ex-escravo no Caribe 
                            do séc XIX. Esta foi a ilustração que mais tomou o meu tempo (38 horas). As cores
                            terrosas ao fundo servem para questões estéticas e dar profundidade ao desenho.
                        </p>
                        <p style="font-size: 10px;">29/07/2020</p>
                    </div>
                </div>
            </div>
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/elefante.jpg"class="desenho"/>
                    <div class="content-details fadeIn-left">
                        <h3>Exploração</h3>
                        <p style="width: 400px; display: inline-block;">
                            20cm x 35cm
                        </p>
                        <p style="font-size: 10px;">01/11/2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="/public/js/modal.js"></script> -->
</main>

