<main style="background: rgb(43, 43, 43)">

    <!-- <% for (let i = 0; i < artes.length; i++) { %>
    <div>
        <h1><%= artes[i].titleArte %></h1>
        <div>
            <img src="/images/artes/<%= artes[i].idArte %>.jpg" />
        </div>
        <div style="white-space: pre-wrap;"><%= artes[i].descArte %></div>
        <small>(<%= artes[i].dateArte %>)</small>
    </div>
    <% } %> -->

    <div class="row imagens">
        <div class="column coluna-imagens">
            <% for (let i = 0; i < artes.length; i++) { %>
                <% if(i%2 == 0) {%>
                    <div class="container-desenho">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img src="/images/artes/<%= artes[i].idArte %>.jpg" id="<%=artes[i].idArte %>" class="desenho" alt="<%= artes[i].titleArte %>"/>
                            <div class="content-details fadeIn-right">
                                <h3><%= artes[i].titleArte %></h3>
                                <p><%= artes[i].descArte %></p>
                                <p style="font-size: 10px;"><%= artes[i].dateArte %></p>
                            </div>
                        </div>
                    </div>
                <% } %>   
            <% } %> 
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/macaco.jpg"class="desenho"/>
                    <div class="content-details fadeIn-right">
                        <h3>Day Dreamer</h3>
                        <p>70cm x 170cm</p>
                    </div>
                </div>
                
            </div>

            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/bailarino_astronauta.jpg"class="desenho"/>
                    <div class="content-details fadeIn-right">
                        <h3>O Astronauta</h3>
                        <p>120cm x 190cm</p>
                    </div>
                </div>
            </div>
            

        </div>
        <div class="column coluna-imagens">
            <% for (let i = 0; i < artes.length; i++) { %>
                <% if(i%2 == 1) {%>
                    <div class="container-desenho">
                        <div class="content">
                            <div class="content-overlay"></div>
                            <img src="/images/artes/<%= artes[i].idArte %>.jpg" id="<%=artes[i].idArte %>" class="desenho" alt="<%= artes[i].titleArte %>"/>
                            <div class="content-details fadeIn-left">
                                <h3><%= artes[i].titleArte %></h3>
                                <p><%= artes[i].descArte %></p>
                                <p style="font-size: 10px;"><%= artes[i].dateArte %></p>
                            </div>
                        </div>
                    </div>
                <% } %>   
            <% } %> 
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/mao.jpg"class="desenho"/>
                    <div class="content-details fadeIn-left">
                        <h3>Sapiens</h3>
                        <p>101cm x 127cm</p>
                    </div>
                </div>
            </div>
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/chernobyl.jpg"class="desenho"/>
                    <div class="content-details fadeIn-left">
                        <h3>Chernobyl</h3>
                        <p>101cm x 127cm</p>
                    </div>
                </div>
            </div>
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/mr_scott.jpg"class="desenho"/>
                    <div class="content-details fadeIn-left">
                        <h3>Mr. Scott</h3>
                        <p>101cm x 127cm</p>
                    </div>
                </div>
            </div>
            <div class="container-desenho">
                <div class="content">
                    <div class="content-overlay"></div>
                    <img src="/images/aguia.jpg"class="desenho"/>
                    <div class="content-details fadeIn-left">
                        <h3>O Voo</h3>
                        <p>20cm x 35cm</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- The Modal -->
        <!-- <div id="myModal" class="modal"> -->
            <!-- The Close Button -->
            <!-- <span class="close">&times;</span> -->
            <!-- Modal Content (The Image) -->
            <!-- <img class="modal-content" id="modal-astronauta"> -->
            <!-- Modal Caption (Image Text) -->
            <!-- <div id="caption"></div> -->
    <!-- </div> -->
</main>

